* {
    border: 0px solid #FF0000;
  }
  
  /************HEADER*********/
  
  #menu {
    background-color: #A3A656;
    color: #000;
    height: 70px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  #Izq {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    left: 70px;
  }
  
  #Izq li {
    margin-right: 20px;
  }
  
  #Izq li a {
    color: #000;
    text-decoration: none;
  }
  
  #Der {
    position: relative;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    right: 10px;
  }
  
  #Der li {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  #Der li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
  }
  
  #Der li a i {
    color: #000;
  }
  
  #Der li a img {
    margin-left: 5px;
  }
  
  #a {
    position: relative;
    bottom: 13px;
  }
  